<footer>
 <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h6 class="text-muted lead">CONTACTO:</h6>
        <h6 class="text-muted">
          Vargas machuca entre Presidente Cordova <br />
          y Juan Jaramillo.<br />
          Teléfonos: 593 (07) 2-830-751<br />
          2-830-877<br />
          2-824-365
        </h6>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="pull-right"></div>
        <div class="row">
          <p class="text-muted small text-right">
            Luis Clavijo, Paginas web @2021.<br />
            Todos los derechos reservados.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
