<div class="collapse show" id="multiCollapseAsignatura">
  <div class="card card-body">
    <div class="row">
      <div class="col-12">
        <h1>Desarrollo de paginas web</h1>
        <p style="text-align: justify">
          Bootstrap es un framework popular gratuito de HTML, CSS y JavaScript
          que se usa para desarrollar sitios web interactivos principalmente
          para dispositivos móviles. El framework incluye plantillas
          interactivas para CSS y HTML de botones, tablas, navegación,
          carruseles de imágenes (carousel) y otros elementos que puede usar en
          su página web. Además, incorpora varios complementos de JavaScript que
          facilitan el desarrollo de sitios web interactivos increíbles, incluso
          a los desarrolladores con conocimientos básicos de programación.
          <br />
        </p>

        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/_N7fNfAJ1Pw"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>
